/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@700&display=swap");

html { scroll-behavior: smooth; } 

body {
  margin: 0;
  font-family: Haas Display, Arial, sans-serif;
  color: #1e1f1e;
  background-color: #ebebe3;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-family: "Noto Sans Vithkuqi", sans-serif;
  font-size: 24px;
  width: 96%;
  font-weight: 2000;
}

.top-right {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-left {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-left > p:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #1e1f1e;
}

.github-icon {
  height: 50px;
  width: 50px;
}

.github-icon:hover {
  opacity: 0.5;
}

.linkedin-icon {
  height: 38px;
  width: 38px;
  margin-top: 20px;
  margin-right: 5px;
}

.linkedin-icon:hover {
  opacity: 0.5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 96%;
  border-bottom: 3px solid #1e1f1e;
  background-color: #ebebe3 !important;
}

.first-window {
  font-family: "Noto Sans Vithkuqi", sans-serif;
  background-color: #ebebe3;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 96%;
  height: 95vh;
  border-bottom: 3px solid #1e1f1e;
}

.first-window-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  height: 60px;
  width: 60px;
  background-color: #ebebe3;
  border: 3px solid #1e1f1e;
}

.small-box-top {
  height: 18px;
  width: 18px;
  position: relative;
  background-color: #ebebe3;
  animation: top 5s infinite;
  animation-direction: alternate;
}

.small-box-2 {
  height: 18px;
  width: 18px;
  position: relative;
  float: right;
  background-color: #ebebe3;
}

.small-box-3 {
  height: 18px;
  width: 18px;
  position: relative;
  float: left;
  background-color: #ebebe3;
}

@keyframes top {
  0% {
    background: #1e1f1e;
    left: 0px;
    top: 0px;
  }
  25% {
    background: #1e1f1e;
    left: 42px;
    top: 0px;
  }
  50% {
    background: #1e1f1e;
    left: 42px;
    top: 42px;
  }
  75% {
    background: #1e1f1e;
    left: 0px;
    top: 42px;
  }
  100% {
    background: #1e1f1e;
    left: 0px;
    top: 0px;
  }
}

.name {
  font-size: 48px;
  font-weight: 2000;
  color: #1e1f1e;
  margin: 30px;
  margin-left: 0;
  padding-left: 40px;
  margin-bottom: 40px;
}

nav {
  display: flex;
}

.me-section {
  border-top: 3px solid #1e1f1e;
  height: 60px;
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: stretch;
  flex: 1;
}

.me-section > a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  width: 100px;
  padding: 15px;
  border: 3px solid #1e1f1e;
  padding: 10px 15px;
}

.me-section > a:hover {
  background-color: #ff5e00;
  color: #ffffff;
}

.projects {
  margin-left: 0 !important;
}

.second-window {
  background-color: #ebebe3;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 96%;
  height: 95vh;
}

.project-page {
  font-family: "Noto Sans Vithkuqi", sans-serif;
  font-size: 48px;
  font-weight: 2000;
  color: #1e1f1e;
  margin: 30px;
  margin-left: 0;
  padding-left: 40px;
  margin-bottom: 40px;
}
